<md-dialog style="width:60%;height:80%;"  ng-cloak >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar producto</h2>
        <span flex></span>
        
       
      </div>
    </md-toolbar>
    <md-dialog-content  >
    <br>
          <!-- Combo de  Tipos de servicio -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Linea</label>
                           <md-select ng-model="jsonPaqueteo.linea" ng-change="cargaClientes()">
                             <md-option ng-repeat="td in tipoServicioData" value="{{td .id}}">
                              {{td.nombre}}
                            </md-option>
                          </md-select>
                    </md-input-container>
            
                  <fieldset class="standard" >
                    <legend>Producto</legend>
                      <div layout="row">
                           <!--  autocompletar de  productos -->                      
                            <md-autocomplete style="width: 95%"
                                md-selected-item="prodCli.selectedItem"
                                md-search-text="prodCli.searchText.nombre"
                                md-items="prodCli in productosCliente | filter:prodCli.searchText.nombre"    md-item-text="prodCli.nombreLargo"                         
                                placeholder="Seleccione producto..."                          
                                md-selected-item-change="cargaBodegas(prodCli.id)"                   
                               >
                            <md-item-template>
                              <span
                                  md-highlight-text="prodCli.searchText.nombre"
                                  md-highlight-flags="i">
                                    {{prodCli.codigoAlterno}},  {{prodCli.nombreLargo}}                       
                              </span>
                            </md-item-template>
                          </md-autocomplete>

                           <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                           <md-icon md-svg-src="img/add-song.svg" style="color: greenyellow;"></md-icon>
                        </md-button>
                      </div>
                      <div layout="row">
                           <md-input-container class="md-block" flex-gt-sm>
                                <label>Codigo</label>
                                <input type="number" ng-model="jsonProductos.codigo" >
                            </md-input-container>
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre</label>
                                <input type="number" ng-model="jsonProductos.nombreProducto" >
                            </md-input-container>
                      </div>
                      <div layout="row">
                           <md-input-container class="md-block" flex-gt-sm>
                                <label>Codigo alterno</label>
                                <input type="number" ng-model="jsonProductos.codigoAlterno" >
                            </md-input-container>
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre alterno</label>
                                <input type="number" ng-model="jsonProductos.nombreAlternoProducto" >
                            </md-input-container>
                      </div>
                    <br><br>
                  </fieldset>

                  <fieldset class="standard" >
                    <legend>Bodega</legend>
                     <md-input-container class="md-block" flex-gt-sm>
                        <label>Bodega</label>
                           <md-select ng-model="jsonProductoAdd.bodega">
                             <md-option ng-repeat="td in bodegasProducto" value="{{td.id}}">
                              {{td.codigo}}-{{td.nombre}}
                            </md-option>
                          </md-select>
                    </md-input-container>

                     <!-- Combo ciudades -->
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Ciudades</label>
                           <md-select ng-model="jsonProductoAdd.ciudad">
                             <md-option ng-repeat="td in unidadesProducto" value="{{td.id}}">
                              {{td.nombre}}
                            </md-option>
                          </md-select>
                    </md-input-container>
                    <div layout="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Codigo alterno bodega</label>
                            <input type="number" ng-model="jsonProductos.codigoAlternoBodega" >
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nombre alterno bodega</label>
                            <input type="number" ng-model="jsonProductos.nombreAlternoBodega" >
                          </md-input-container>
                  </div>
                  </fieldset>
                  <fieldset class="standard" >
                    <legend>Lote</legend>
                       <!-- campo  lote-->
                           <md-input-container class="md-block" flex-gt-sm>
                              <label>lote</label>
                              <input type="text" ng-model="jsonProductoAdd.lote">
                          </md-input-container>
                             <!-- campo  disponible-->
                           <md-input-container class="md-block" flex-gt-sm>
                              <label>Disponible</label>
                              <input type="number"  ng-disabled="true" ng-model="jsonProductoAdd.disponible">
                          </md-input-container>
                          <div layout="row">
                                 <!-- campo  cantidad-->
                                 <md-input-container class="md-block" flex-gt-sm>
                                    <label>Cantidad</label>
                                    <input type="number" ng-model="jsonProductoAdd.cantidad">
                                </md-input-container>
                                   <!-- Combo de  unidad de  medida  -->
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Unidad</label>
                                           <md-select ng-model="jsonProductoAdd.unidad">
                                             <md-option ng-repeat="td in unidadesProducto" value="{{td.id}}">
                                              {{td.nombre}}
                                            </md-option>
                                          </md-select>
                                    </md-input-container>
                                <!-- campo unidad cliente-->
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Unidad cliente</label>
                                  <input type="text" ng-model="jsonProductoAdd.unidadCliente">
                                </md-input-container>
                                <!-- campo unidad alterna-->
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Unidad alterna</label>
                                  <input type="text" ng-model="jsonProductoAdd.unidadAlterna">
                                </md-input-container>

                          </div>
  

                    </fieldset>
                    <fieldset class="standard" >
                      <legend>Medidas </legend>
                        <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                                <label>Alto cm</label>
                                <input type="number" ng-model="jsonPaqueteo.alto" >
                            </md-input-container>    
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Largo cm</label>
                                <input type="number" ng-model="jsonPaqueteo.largo" >
                            </md-input-container>    
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Ancho cm</label>
                                <input type="number" ng-model="jsonPaqueteo.ancho" >
                            </md-input-container>    
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Volumen</label>
                                <input type="number" ng-model="jsonPaqueteo.volumen" >
                            </md-input-container>   
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Total</label>
                                <input type="number" ng-model="jsonPaqueteo.total" >
                            </md-input-container>   
                        </div>
                         <div layout="row">
                            <span flex></span>
                            <span flex></span>
                            <span flex></span>  
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Peso kg</label>
                                <input type="number" ng-model="jsonPaqueteo.peso" >
                            </md-input-container>   
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Total</label>
                                <input type="number" ng-model="jsonPaqueteo.totalKilos" >
                            </md-input-container>   
                        </div>
                        <div layout="row">
                            <span flex></span>
                            <span flex></span>
                            <span flex></span>  
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Peso Vol</label>
                                <input type="number" ng-model="jsonPaqueteo.peso" >
                            </md-input-container>   
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Total</label>
                                <input type="number" ng-model="jsonPaqueteo.totalVolumen" >
                            </md-input-container>   
                        </div>
                        <div layout="row">
                            <span flex></span>
                            <span flex></span>
                            <span flex></span>  
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Valor declarado</label>
                                <input type="number" ng-model="jsonPaqueteo.valorDeclarado" >
                            </md-input-container>   
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Total</label>
                                <input type="number" ng-model="jsonPaqueteo.totalKDeclarado" >
                            </md-input-container>   
                        </div>
                    </fieldset>
                    <fieldset class="standard" >
                      <legend>Ubicacion origen</legend>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Origen</label>
                           <md-select ng-model="jsonProductoAdd.origen">
                             <md-option ng-repeat="td in bodegasProducto" value="{{td.id}}">
                              {{td.codigo}}-{{td.nombre}}
                            </md-option>
                          </md-select>
                     </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Ciudad</label>
                           <md-select ng-model="jsonProductoAdd.ciudadOrigen">
                             <md-option ng-repeat="td in bodegasProducto" value="{{td.id}}">
                              {{td.codigo}}-{{td.nombre}}
                            </md-option>
                          </md-select>
                     </md-input-container>
                        <!--  autocompletar de  bodega-->
                      <div layout="row">                                           
                        <md-autocomplete style="width: 95%";
                            md-selected-item="bodegas.selectedItem"
                            md-search-text="bodegas.searchText.nombre"
                            md-items="bodegas in bodegasProducto | filter:bodegas.searchText.nombre"    md-item-text="bodegas.nombre"                         
                            placeholder="Seleccione bodega..."                          
                            md-selected-item-change="cargaValorBodega(bodegas.id)"                   
                           >
                        <md-item-template>
                          <span
                              md-highlight-text="bodegas.searchText.nombre"
                              md-highlight-flags="i">
                                {{bodegas.codigo}},  {{bodegas.nombre}}                       
                          </span>
                        </md-item-template>
                      </md-autocomplete>

                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                           <md-icon md-svg-src="img/add-song.svg" style="color: greenyellow;"></md-icon>
                        </md-button>
                      
                     </div>

                    </fieldset>

                     <fieldset class="standard" >
                      <legend>Informacion general </legend>
                        <div layout="row">
                               <!-- campo codigo-->
                               <md-input-container style="width: 25%;" class="md-block" flex-gt-sm>
                                  <label>Codigo</label>
                                  <input type="number" ng-model="jsonProductos.codigo" >
                              </md-input-container>     
                              <md-input-container  style="width: 75%;" lass="md-block" flex-gt-sm>
                                  <label>Nombre</label>
                                  <input type="text" ng-model="jsonProductos.nombre" >
                              </md-input-container>     
                        </div>
                         <div layout="row">
                               <!-- campo codigo-->
                               <md-input-container style="width: 25%;" class="md-block" flex-gt-sm>
                                  <label>Codigo Alterno</label>
                                  <input type="number" ng-model="jsonProductos.codigoAlterno" >
                              </md-input-container>     
                              <md-input-container  style="width: 75%;" lass="md-block" flex-gt-sm>
                                  <label>Nombre Alterno</label>
                                  <input type="text" ng-model="jsonProductos.nombreAlterno" >
                              </md-input-container>     
                        </div>
                        <div layout="row">
                            <md-input-container   lass="md-block" flex-gt-sm>
                              <label>Ciudad</label>
                              <input type="text" ng-model="jsonProductos.ciudadContacto" >
                           </md-input-container>    
                        </div>
                        <div layout="row">
                           <md-input-container   lass="md-block" flex-gt-sm>
                                    <label>Direccion</label>
                                    <input type="text" ng-model="jsonProductos.ciudadContacto" >
                           </md-input-container>   
                        </div> 
                        <div layout="row">
                            <md-input-container   lass="md-block" flex-gt-sm>
                                  <label>Indicaciones</label>
                                  <input type="text" ng-model="jsonProductos.ciudadContacto" >
                            </md-input-container>     
                        </div>
                        <fieldset class="standard" >
                          <legend>Contacto</legend>                                                
                            <div layout="row">
                              <md-input-container  lass="md-block" flex-gt-sm>
                                      <label>nombre</label>
                                      <input type="text" ng-model="jsonProductos.ciudadContacto" >
                             </md-input-container>  
                            </div>
                             <div layout="row">
                               <md-input-container  lass="md-block" flex-gt-sm>
                                        <label>Telefono</label>
                                        <input type="text" ng-model="jsonProductos.ciudadContacto" >
                               </md-input-container>   
                             </div>
                             <md-input-container   lass="md-block" flex-gt-sm>
                                      <label>Email</label>
                                      <input type="text" ng-model="jsonProductos.ciudadContacto" >
                             </md-input-container>    

                        </fieldset>
                    </fieldset>

               

    </md-dialog-content>
    <md-dialog-actions layout="row">
     
      <span flex></span>
      <md-button ng-click="cerrarModal()">
       Cancelar
      </md-button>
      <md-button ng-click="agregarProductoTemporal()" style="margin-right:20px;">
       Agregar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>