<div ng-cloak>
  <md-content>
    <md-toolbar>
                  <div class="md-toolbar-tools" >
                
                    <h2>
                      <span>Editar  Orden  {{ordenSeleccionada.idOrden}}, {{ordenSeleccionada.numeroDocumentoOrdenCliente}}</span>
                    </h2>
                    <span flex></span>
                 
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Crear orden" ng-click="volver()">
                       <md-tooltip md-direction="left">
                        Volver
                      </md-tooltip>
                      <md-icon md-svg-src="img/back-arrow.svg"></md-icon>
                    </md-button>
                                        
                   <!--   <md-button class="md-fab md-primary md-hue-2"  aria-label="Editar producto">
                  <md-tooltip md-direction="left">
                       Editar producto
                      </md-tooltip>
                      <md-icon md-svg-src="img/pencil.svg"></md-icon>
                    </md-button>

                    <md-button class="md-fab md-primary  md-hue-2" aria-label="Eliminar producto">
                    <md-tooltip md-direction="left">
                       Eliminar producto
                      </md-tooltip>
                      <md-icon md-svg-src="img/rubbish-bin.svg"></md-icon>
                    </md-button>-->
                  </div>
                </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom md-selected="dataTabs.tabSeleccionada"> 
    <!--  Inicio Datos de facturacion-->
      <md-tab label="Bill to" ng-disabled="dataTabs.tabFacturacion">
      <md-content class="md-padding">
             <!-- Combo de  Tipos de servicio -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo servicio</label>
                           <md-select ng-model="jsonFacturacion.tipoServicio" ng-change="cargaClientes()">
                             <md-option ng-repeat="td in tipoServicioData" value="{{td .id}}">
                              {{td.nombre}}
                            </md-option>
                          </md-select>
                    </md-input-container>
                       <!--  autocompletar de  tipo servicio-->
                      <!--<md-autocomplete
                      
                          md-selected-item="app.selectedItem"
                          md-search-text="app.searchText.nombre"
                          md-items="app in tipoServicioData | filter:app.searchText.nombre"           md-item-text="jsonFacturacion.nombreTipoServicio"
                          ng-model="app.searchText.nombre"                        
                          placeholder="Seleccione  tipo de servicio..."    
                          md-selected-item-change="cargaClientes(app.id)"                      
                           >                 
                         
                      <md-item-template>
                        <span
                            md-highlight-text="app.searchText.nombre"
                            md-highlight-flags="i">
                          {{ app.nombre }} , {{ app.id }}
                        </span>
                      </md-item-template>
                    </md-autocomplete>-->
            <!-- Combo de  cliente -->
              <md-input-container class="md-block" flex-gt-sm>
                        <label>Cliente</label>
                           <md-select ng-model="jsonFacturacion.cliente" ng-change="cargaSegmentos()">
                             <md-option ng-repeat="dest in clientes" value="{{dest.id}}">
                              {{dest.nombre}}
                            </md-option>
                          </md-select>
                    </md-input-container>
                       <!--  autocompletar de  CLIENTE -->
                    <!--  <br><br>
                      <md-autocomplete
                          md-selected-item="cli.selectedItem"
                          md-search-text="cli.searchText.nombre"
                          md-items="cli in clientes | filter:cli.searchText.nombre"           md-item-text="cli.nombre"                         
                          placeholder="Seleccione cliente ..."                          
                          md-selected-item-change="cargaSegmentos(cli.id)"      
                          ng-model="jsonFacturacion.cliente"              
                         >
                      <md-item-template>
                        <span
                            md-highlight-text="cli.searchText.nombre"
                            md-highlight-flags="i">
                          {{ cli.nombre }}
                        </span>
                      </md-item-template>
                    </md-autocomplete>-->
              <!-- Combo de  segemento -->
                   <md-input-container class="md-block" flex-gt-sm>
                        <label>Segmento</label>
                           <md-select ng-model="jsonFacturacion.segmento" ng-change="cargaDestinatarios()">
                             <md-option ng-repeat="dest in segmento" value="{{dest.id}}">
                              {{dest.nombre}} 
                            </md-option>
                          </md-select>
                    </md-input-container>
               <!-- Combo de  destinatario -->  
                <div layout-gt-sm="row">            
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Destinatario</label>
                        <md-select ng-model="jsonFacturacion.destinatario" ng-change="cargaCiudadEnvio()">
                             <md-option ng-repeat="dest in destinatario" value="{{dest.id}}">
                              {{dest.nombre}} - {{dest.numeroIdentificacion}}
                            </md-option>
                          </md-select>
                    </md-input-container>
                      <md-input-container>
                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                           <md-icon md-svg-src="img/add-song.svg" style="color: greenyellow;"></md-icon>
                        </md-button>
                       </md-input-container>
                      </div>
              
                  <!-- campo  numero documento-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Numero documento que acompaña la orden</label>
                    <input ng-model="jsonFacturacion.numeroDocumentoOrdenCliente" >
                </md-input-container>

                <!-- campo  nombre-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Nombre contacto</label>
                    <input ng-model="jsonFacturacion.nombre" >
                </md-input-container>
                 <!-- campo  telefonos-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Telefonos contacto</label>
                    <input  ng-model="jsonFacturacion.telefonos">
                </md-input-container>
                 

                 <!-- campo  email-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Email contacto</label>
                    <input  ng-model="jsonFacturacion.email">
                </md-input-container>

                 <!--<md-button md-no-ink class="md-raised md-primary" ng-click="validaTabFacturacion()">Continuar a datos envio</md-button>-->


        </md-content>
              
      </md-tab>
      <!--   Datos de envio-->
      <md-tab label="Ship to" ng-disabled="dataTabs.tabEnvio">
        <md-content class="md-padding">
           <!-- Combo de  ciudad -->
              <md-input-container class="md-block" flex-gt-sm>
                        <label>Ciudad</label>
                           <md-select ng-model="jsonEnvio.ciudad" ng-change="cargaDestinosEnvio()">
                             <md-option ng-repeat="ciud in ciudad" value="{{ciud.id}}">
                              {{ciud.nombreAlterno}}
                            </md-option>
                          </md-select>
              </md-input-container>
            <!-- Combo de  destino -->
              <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                        <label>Destino</label>
                           <md-select ng-model="jsonEnvio.destino" ng-change="cargaInfoDestinoEnvio()">
                             <md-option ng-repeat="des in destino"  value="{{des.id}}">
                              {{des.nombre}}
                            </md-option>                              
                          </md-select>                      
              </md-input-container>
              <md-input-container>
                <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                   <md-icon md-svg-src="img/add-song.svg" style="color: greenyellow;"></md-icon>
                </md-button>
              </md-input-container>
            </div>
             
                <!-- campo  direccion-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Dirección</label>
                  <input type="text" ng-disabled="true" ng-model="jsonEnvio.direccion" >
                </md-input-container>
                  <!-- campo  indicadores direccion-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Indicaciones dirección</label>
                  <input type="text" ng-disabled="true" ng-model="jsonEnvio.indicacionesDireccion">
                </md-input-container>
                  <!-- campo  nombre-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Nombre de contacto</label>
                    <input type="text" ng-model="jsonEnvio.nombre" >
                </md-input-container>
                  <!-- campo  telefonos-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Telefonos de contacto </label>
                    <input type="text" ng-model="jsonEnvio.telefonos" >
                </md-input-container>
                  <!-- campo  email-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Email de contacto</label>
                    <input type="email" ng-model="jsonEnvio.email">
                </md-input-container>

                 <!--<md-button md-no-ink class="md-raised md-primary" ng-click="validaTabEnvio()">Continuar a datos entrega </md-button>-->
        </md-content>
      </md-tab>
      <md-tab label="Datos de entrega" ng-disabled="dataTabs.tabEntrega">
        <md-content class="md-padding">
              <!-- Combo de  estado 
              <md-input-container class="md-block" flex-gt-sm>
                        <label>Estado</label>
                           <md-select ng-model="jsonEntrega.estado">
                             <md-option ng-repeat="des in estadoEntrega" value="{{des.id}}">
                              {{des.texto}}
                            </md-option>
                          </md-select>
              </md-input-container>-->
                 <!-- campo  estado-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Estado orden</label>
                    <input ng-disabled="true" ng-model="jsonFacturacion.estadoOrdenType">
                </md-input-container>

              <!--Seleccionar  rangos -->
              <p>Seleccion:</p>
                <md-radio-group ng-model="data.info">
                  <md-radio-button value="1" class="md-primary">Rango de fechas</md-radio-button>
                  <md-radio-button value="0"> Fecha fija </md-radio-button> 
                    <md-radio-button value="3"> No confirmado </md-radio-button>                   
                </md-radio-group>
              
              <!--ENTREGAR PREFERIBLEMTEN-->
              <div class="md-block" ng-if="data.info == 0">
                 <label>Entregar preferiblemente</label>
                <md-datepicker ng-model="jsonEntrega.fechaMaxima" md-placeholder="Enter date"></md-datepicker>
              </div>
              <!--Rango de fechas -->
              <div class="md-block" ng-if="data.info == 1">
                 <label>Desde</label>
                <md-datepicker ng-model="jsonEntrega.fechaMinima" md-placeholder="Enter date"></md-datepicker>
                 <label>Hasta</label>
                <md-datepicker ng-model="jsonEntrega.fechaMaxima" md-placeholder="Enter date"></md-datepicker>
              </div>
              <!-- Combo de  jornada -->
              <md-input-container class="md-block" flex-gt-sm>
                        <label>Jornada</label> 
                        <md-select ng-model="jsonEntrega.jornada" ng-change="cargaHoras()">
                             <md-option ng-repeat="des in jornadaEntrega" value="{{des.codigo}}">
                              {{des.codigo}}
                            </md-option>
                        </md-select>
              </md-input-container>

               <!-- campo  hora minima-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Hora minima</label>
                    <input type="text" ng-model="jsonEntrega.horaMinima" >
                </md-input-container>

                 <!-- campo  hora maxima-->
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Hora maxima</label>
                    <input type="text" ng-model="jsonEntrega.horaMaxima" >
                </md-input-container>
                <!--<md-button md-no-ink class="md-raised md-primary" ng-click="validaTabEntrega()">Continuar a productos</md-button>-->
               
        </md-content>
      </md-tab>
      <!-- Tab de  productos -->
       <md-tab label="Productos"  ng-disabled="dataTabs.tabProductos">
        <md-content class="md-padding" >
            
                 <md-toolbar>
                  <div class="md-toolbar-tools" >
                
                    <h2>
                      <span>Gestion de productos, Total de productos: {{cantidadTotal}}</span>
                    </h2>
                    <span flex></span>
                 
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Agregar producto" ng-click="agregarLinea()">
                       <md-tooltip md-direction="left">
                        Agregar producto
                      </md-tooltip>
                      <md-icon md-svg-src="img/add-circular-outlined-button.svg"></md-icon>
                    </md-button>
                                        
                    <md-button  ng-if="mostrarEditar != 0" class="md-fab md-primary md-hue-2"  aria-label="Editar producto" ng-click="editarLinea()">
                    <md-tooltip md-direction="left">
                       Editar producto
                      </md-tooltip>
                      <md-icon md-svg-src="img/pencil.svg"></md-icon>
                    </md-button>

                    <md-button  ng-if="mostrarEliminar != 0"class="md-fab md-primary  md-hue-2" aria-label="Eliminar producto" ng-click="eliminarLinea()">
                    <md-tooltip md-direction="left">
                       Eliminar producto
                      </md-tooltip>
                      <md-icon md-svg-src="img/rubbish-bin.svg"></md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                  <!--<table  border=1  style="width:100%;height:80%;">
                        <tr>
                          <td><strong>Producto</strong></td>
                          <td><strong>Bodega</strong></td>
                          <td><strong>cantidad</strong></td>
                          <td><strong>unidad</strong></td>
                          <td><strong>lote</strong></td>
                          <td><strong>notas</strong></td>
                        </tr>
                         <tr ng-repeat=" pro  in productosTemporales">
                          <td>{{pro.producto}}</td>
                          <td>{{pro.bodega}}</td>
                          <td>{{pro.cantidad}}</td>
                          <td>{{pro.unidad}}</td>
                          <td>{{pro.lote}}</td>
                          <td>{{pro.notas}}</td>
                        </tr>
                  </table>-->
              <div ui-grid="gridOptions"   style="width:100%;height:400px;" ui-grid-selection class="grid">
                <div class="watermark" ng-show="!gridOptions.data.length">No se encontraron resultados</div>    
                </div>

                <!--
                <div class="container-fluid">
                  <div class="row">                      
                      <div ng-controller="ordenesVentaCtrl">
                          <div class="col-md-12 col-lg-12" ultimate-datatable="datatable">
                          </div>
                      </div>
                  </div>
                </div>-->
         <md-button md-no-ink class="md-raised md-primary" ng-click="finalizarEdicion()">Finalizar edición</md-button>

                 <md-button md-no-ink class="md-raised md-primary" ng-click="finalizarAceptacion()">Aceptar orden</md-button>

        </md-content>
          
      </md-tab>
       <!--<md-tab label="Soportes documentales"  ng-disabled="dataTabs.tabSoportesDocumentales">
        <md-content class="md-padding">
         <md-card ng-repeat="req in requerimientosDocumentales">
        <md-card-title>
          <md-card-title-text>
               <span class="md-headline">{{req.nombre}}</span>
                        <span class="md-subhead">{{req.textoPreguntaRequerimientoDeCumplimiento}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
         
                    <input id="fileInput" type="file"/>
        </md-card-actions>
      </md-card>
           


             <md-button md-no-ink class="md-raised md-primary" ng-click="volver()">Finalizar</md-button>
        </md-content>
      </md-tab>-->
    </md-tabs>
  </md-content>
</div>