<div ng-cloak>
  <md-content>
         

            <md-toolbar>
                  <div class="md-toolbar-tools" style="width: 100%">
                  
                    <h2>
                      <span>Gestion de Ordenes</span>
                    </h2>
                                    
                   <span flex></span>
                      <md-switch ng-model="datos.verOpciones"  aria-label="Switch 2" ng-true-value="true" ng-false-value="false"  class="md-fab">
                            Ver opciones
                      </md-switch>
                  </div>
                </md-toolbar>
                   <div ng-show="datos.verOpciones" class="md-toolbar-tools" style="width: 100%">
                
                        <h2>
                          <span>Opciones busqueda</span>
                        </h2>
                
                            

                       <span flex></span>
                          <md-button  ng-if="refrescar != 0" class="md-fab md-primary  md-mini md-hue-2" aria-label="refrecar" ng-click="cargarOrdenes()">
                           <md-tooltip md-direction="left">
                            Refrescar
                          </md-tooltip>
                          <md-icon md-svg-src="img/update-arrows.svg"></md-icon>
                        </md-button>
                         <!-- Combo de  Tipos de servicio -->
                      <md-input-container class="md-block" flex-gt-sm>
                            <label style="color:white;">Estado de la orden</label>
                               <md-select ng-model="jsonListaOrdenes.estadoOrden" ng-change="cargarOrdenes()">
                                 <md-option ng-repeat="td in estadoOrden" value="{{td.id}}">
                                  {{td.nombre}}
                                </md-option>
                              </md-select>
                        </md-input-container>
                             <!-- Combo de  Tipos de servicio -->
                      <md-input-container class="md-block" flex-gt-sm>
                            <label style="color:white;">Tipo servicio</label>
                            <md-select ng-model="jsonListaOrdenes.tipoServicio">
                                 <md-option ng-repeat="td in tipoServicioData" value="{{td.id}}">
                                  {{td.nombre}}
                                </md-option>
                              </md-select>
                        </md-input-container>
                      
                        <md-button class="md-fab md-primary md-hue-2" aria-label="Crear orden" ng-click="crearOrden()">
                           <md-tooltip md-direction="left">
                            Crear orden
                          </md-tooltip>
                          <md-icon md-svg-src="img/add-circular-outlined-button.svg"></md-icon>
                        </md-button>
                         <md-button   ng-if="datos.seleccionado == '0'" class="md-fab md-primary md-hue-2" ng-click="cargarEdicion()" aria-label="Editar producto">
                      <md-tooltip md-direction="left">
                           Editar orden
                          </md-tooltip>
                          <md-icon md-svg-src="img/pencil.svg"></md-icon>
                        </md-button>
                                            
                      
                  </div>


           <!--     <div class="container-fluid">
                  <div class="row">                      
                      <div ng-controller="listaOrdenesCtrl">
                          <div class="col-md-12 col-lg-12" ultimate-datatable="datatable">
                          </div>
                      </div>
                  </div>
                </div>   -->
           
                   <!--<div  style="width:100%;height:80%;" id="grid1" ui-grid="{ data: datatableData }" class="grid"></div>-->
              
              <div ui-grid="gridOptions"   style="width:99%;height:600px;" ui-grid-selection class="grid">
                <div class="watermark" ng-show="!gridOptions.data.length">No se encontraron resultados</div>

              </div>
 


  </md-content>
</div>