<div ng-cloak>
       <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>Ingreso de usuario</h2>
        </div>
        <form class="form-signin" role="form">
            <input type="text" ng-model="login.usuario" class="form-control" placeholder="Usuario" required="" autofocus="">
            <input type="password" ng-model="login.clave" class="form-control" placeholder="Clave" required="">
           
        <button class="btn btn-lg btn-primary btn-block"  ng-click="login()">Ingresar</button>
      </form>
 
    </div>
  </div>